<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
    <title>Chatbot</title>
</head>
<body onload="sendContentToApp()">
    <div class="container">
        <div class="page-header">
           <h1>Chatbot</h1>
            <em>Model: <a href="https://platform.openai.com/docs/models/{{ model }}">{{ model }}</a></em>
        </div>

        <div class="jumbotron">
            <div id="chat_log" class="chat_log"></div>
            <br/>

            <textarea id="user_message" oninput="autoExpand(this)" placeholder="Type your message here..."></textarea>
            <br/><br/>

            <button type="button" class="btn btn-primary" onclick="sendContentToApp()">Send</button>
            <button type="button" class="btn btn-danger" onclick="clearChat()">Clear</button>
        </div>
        <hr/>
        <em>Deployed on <a href="https://www.linode.com/">Akamai Cloud</a></em>
    </div>
</body>
</html>
